[submodule "source/WaterloopleinTimeMachine/Packages/nl.elmarjansen.geojsoncitybuilder"]
	path = source/WaterloopleinTimeMachine/Packages/nl.elmarjansen.geojsoncitybuilder
	url = https://github.com/ElmarJ/GeoJsonCityBuilder.git
	branch = master
