[submodule "source/Waterlooplein3D/Packages/nl.elmarjansen.geojsoncitybuilder"]
	path = source/Waterlooplein3D/Packages/nl.elmarjansen.geojsoncitybuilder
	url = https://github.com/ElmarJ/GeoJsonCityBuilder.git
