[submodule "data/waterlooplein-timemachine-gisdata"]
	path = data/waterlooplein-timemachine-gisdata
	url = https://github.com/ElmarJ/waterlooplein-timemachine-gisdata.git
[submodule "source/WaterloopleinTimeMachine/Packages/GeoJsonCityBuilder"]
	path = source/WaterloopleinTimeMachine/Packages/GeoJsonCityBuilder
	url = https://github.com/ElmarJ/GeoJsonCityBuilder.git
