name: 'unity-cloud-build'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  cloud-build: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: elmarj/unity-cloud-build-action@v1
        with:
          orgid: 9070997178214
          projectid: 92d51031-4fe2-4e34-8c02-d41460f587fa
          buildtargetid: default_linux
          apikey: ${{ secrets.UNITY_API_KEY }}
          useactioncommit: true

